html {
    font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
    box-sizing: border-box;
}

body {
    background: rgb(215, 250, 220);
}

/*
* {
    border: 2px solid red;
}
*/
h1 {
    margin-bottom: 30px;
    text-indent: 10%;
}

.button {
    background-color: grey;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
}

/* index page specific css */

.index-page-body {
    background: lightgrey;
}

.index-page-ul {
    font-size: 24px;
}
